html {
    font-size: 10px;
}

:root {
    --rad: 2rem;
    --dur: 0.3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #617a55;
    --font-fam: "Lato", sans-serif;
    --height: 5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

section .heading {
    text-align: center;
}
section .heading div {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
section .heading div h1 {
    color: black;
    font-weight: bolder;
    font-size: 6rem;
    font-weight: bolder;
}
section .heading h2 {
    margin-top: 4%;
    font-size: 3rem;
    font-weight: bold;
    color: #617a55;
}
/*.blogs-header {
    height: 87vh;
}*/
.blogs-header .carousel-indicators {
    right: inherit;
}
.blogs-header .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.blogs-header .search-bar {
    display: flex;
    position: absolute;
    top: 2rem;
    width: 100%;
    justify-content: center;
}
.blogs-header .search-bar form {
    position: relative;
    width: 70%;
    background: var(--color-brand);
    border-radius: var(--rad);
}
.blogs-header .search-bar form input,
.blogs-header .search-bar form button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.8rem;
}
.blogs-header .search-bar form input[type=search] {
    opacity: 50%;
    outline: 0;
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}
.blogs-header .search-bar form button {
    z-index: 1;
    color: white;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
}
.blogs-header .search-bar form input:not(:-moz-placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
}
.blogs-header .search-bar form input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
}
.blogs-header .search-bar form input:not(:-moz-placeholder-shown) + button {
    display: block;
}
.blogs-header .search-bar form input:not(:placeholder-shown) + button {
    display: block;
}
.blogs-header .search-bar form label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.blogs-header .carousel-inner .carousel-item img {
    filter: brightness(60%);
}
.blogs-header .carousel-inner .carousel-item .carousel-caption {
    left: inherit;
    right: 0;
    bottom: 10rem;
    width: 45vw;
    text-align: left;
}
.blogs-header .carousel-inner .carousel-item .carousel-caption span {
    padding-right: 3rem;
    opacity: 0.8;
    color: #fff;
    font-size: 2rem;
    font-family: Montserrat;
}
.blogs-header .carousel-inner .carousel-item .carousel-caption h5 {
    color: #fff;
    font-size: 6rem;
    font-family: Montserrat;
    font-weight: 800;
}
.blogs-header .carousel-inner .carousel-item .carousel-caption .button-container {
    padding-top: 4rem;
}
.blogs-header .carousel-inner .carousel-item .carousel-caption .button-container a button {
    width: 17rem;
    height: 4rem;
    flex-shrink: 0;
    border: 0;
    border-radius: 50px;
    background: #617a55;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 25px;
    font-family: Inter;
    font-weight: 700;
}

.blogs-body .blogs-container {
    padding-top: 2rem !important;
    width: 100vw;
    display: flex;
    padding: 0 2rem;
    justify-content: center;
}
.blogs-body .blogs-container .blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    width: 361px;
    height: 544px;
    margin: 2rem 3rem;
    padding: 0;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.25);
}
.blogs-body .blogs-container .blog-container img {
    width: 100%;
    height: 40%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}
.blogs-body .blogs-container .blog-container .desc-container {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
}
.blogs-body .blogs-container .blog-container .desc-container div {
    padding-top: 2rem;
}
.blogs-body .blogs-container .blog-container .desc-container h5 {
    font-size: 2rem;
}
.blogs-body .blogs-container .blog-container .desc-container .date-write {
    padding-right: 3rem;
    opacity: 0.8;
    font-family: Montserrat;
}
.blogs-body .blogs-container .blog-container .button-container {
    padding-top: 4rem;
    width: 90%;
}
.blogs-body .blogs-container .blog-container .button-container a {
    width: 100%;
}
.blogs-body .blogs-container .blog-container .button-container a button {
    width: 100%;
    margin: 0 auto;
    height: 3.8rem;
    flex-shrink: 0;
    border: 0;
    border-radius: 50px;
    background: #617a55;
    color: #fff;
    font-size: 1.5rem;
    font-family: Inter;
    font-weight: 700;
}/*# sourceMappingURL=blogs.css.map */