.profileHeading{
    background: #B8C6C2;
}
.profileHeading p {
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    color: #617A55;
    padding: 2.7rem 0;
}
.body-container{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    width: 120rem;
    margin: 10rem auto;
}
.body-container .section-head {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5rem;
}

.body-container .section-head span{
    text-align: center;
    display: block;
    width: 100%;
    font-size: 4rem;
    font-weight: bolder;
}
.body-container .section-head .image-container {
    position: relative;
    width: 267px;
    height: 267px;
    border-radius: 267px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-container .section-head .image-container .changePfpIcon {
    position: absolute;
    color: white;
    opacity: 0;
}
.body-container .section-head .image-container:hover .changePfpIcon {
    opacity: 100;
    transition: opacity 0.25s ease-in-out;
}
.body-container .section-head .image-container:hover .showImg{
    filter: brightness(0.5);
    transition: filter 0.25s ease-in-out;
}
.body-container .section-head .image-container .imgInput {
    position: absolute;
    z-index: 1;
    border-radius: 267px;
    padding: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    margin: 0;
}
.body-container .section-head .image-container img {
    width: 100%;
    height: auto;
}

.body-container .form-container {
    width: 100%;
}
.body-container .form-container .col-lg-6 input{
    font-size: 2.5rem;
    width: 50rem;
    margin-left: 5rem;
    margin-bottom: 3rem;
}
.body-container .form-container .form-label{
    margin-left: 5rem;
    font-size: 2rem;
    margin-top: 6rem;
}
.body-container .form-container .row p{
    margin-left: 5rem;
    font-size: 3rem;
    font-weight: bold;
}
.form-container .forms-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container .forms-footer div {
    font-size: 2rem;
    padding: 0 1rem;
}
.form-container .forms-footer div button {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    width: 233px;
    height: 68px;
    margin-bottom: 2rem;
}
.form-container .forms-footer div .approve {
    border-radius: 10px;
    background: #617A55;
}
.form-container .forms-footer div .decline{
    border-radius: 10px;
    background-color: white;
    color: #617A55;
    padding: 1rem 2rem;
    border: 2px solid #617A55;
}

.password-toggle{
    position: relative;

}
.password-toggle i{
    top: 1.6rem;
    position: absolute;
    right: 2rem;
}
/* Eye icon styles */
.eye-icon:before {
    content: "\f06e";
    /* Eye-slash icon Unicode value */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5rem;
}

.eye-icon.active:before {
    content: "\f070";
    /* Eye icon Unicode value */
}