* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.heading {
    background-color: #b8c6c2;
    text-align: center;
    font-weight: bold;
    font-size: 6rem;
    color: #617a55;
    padding-bottom: 3rem;
    padding-top: 5rem;
}
.section-body .title{
    height: 8rem;
    background-color: #E2E8E7;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5rem;
}
.section-body{
    margin: 6rem 5rem 5rem 5rem;
}
.section-body .title p{
    font-size: 4rem;
    align-self: center;
    color: #617a55;
    font-weight: bolder;
}
.section-body .section-body-content{
    height: fit-content;
    padding-bottom: 3rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
    border-radius: 0px 0px 30px 30px;
}
.section-body .section-body-content .col-lg-7{
    display: flex;
    flex-direction: row;
    border-right: solid #e2e8e7 4px;
}
.section-body .section-body-content .col-lg-7 img{
    border-radius: 100%;
    object-fit: cover;
    margin: 5rem;
    width: 35rem;
    height: 35rem;
}
.section-body .section-body-content .col-lg-7 .left-content{
    display: flex;
    flex-direction: column;
    width: 50%
}
.section-body .section-body-content .col-lg-7 .left-content p:nth-child(1){
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-top: 5rem;
}
.section-body .section-body-content .col-lg-7 .left-content p:nth-child(2){
    text-align: center;
    font-size: 4rem;
}
.section-body .section-body-content .col-lg-5{
    display: flex;
    flex-direction: column;
}
.section-body .section-body-content .col-lg-5 .text p:nth-child(1){
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-top: 5rem;
}
.section-body .section-body-content .col-lg-5 .text p:nth-child(2){
    text-align: center;
    font-size: 4rem;
}
.section-body .section-body-content .col-lg-5 .trainer-content{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section-body .section-body-content .col-lg-5 .trainer-content img{
    object-fit: cover;
    border-radius: 50%;
    width: 134px;
    height: 134px;
    margin-right: 5rem;
}
.section-body .section-body-content .col-lg-5 .trainer-content .text{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-body .section-body-content .col-lg-5 .trainer-content .text{
    font-size: 4rem;
}

