.heading {
    background-color: #b8c6c2;
    text-align: center;
    font-weight: bold;
    font-size: 6rem;
    color: #617a55;
    padding-bottom: 3rem;
    padding-top: 5rem;
    margin-bottom: 1.5rem;
}
.form-body .head{
    padding: 2rem;
}
.form-body .head h2 {
    padding-left: 2rem;
    font-size: 3rem;
}
.forms-container {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.322);
}
.forms-container .forms-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.forms-container .forms-header .left-side {
    font-size: 3rem;
    color: #617a55;
}
.forms-container .forms-header .right-side {
    display: flex;
    align-items: center;
    font-size: 2rem;
}
.forms-container .forms-header .right-side span {
    padding: 0 2rem;
}
.forms-container .forms-header .right-side .online {
    color: white;
    border-radius: 3px;
    padding: 0.5rem 2rem;
    background-color: #ef7b6b;
}
.forms-container .forms-header .right-side .offline {
    color: white;
    border-radius: 3px;
    padding: 0.5rem 2rem;
    background-color: #f69c14;
}
.forms-container .form-customerDetails .form-name {
    background-color: #f7f7f7;
}
.forms-container .form-customerDetails .form-name .name {
    padding: 2rem 2rem;
    font-size: 3.1rem;
    font-weight: bold;
}
.forms-container .form-customerDetails .form-body {
    padding: 2rem 6rem;
    font-size: 1.5rem;
}
.forms-container .form-customerDetails .form-body input,
.forms-container .form-customerDetails .form-body textarea {
    font-size: 2rem;
}
.forms-container .forms-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.forms-container .forms-footer div {
    font-size: 2rem;
    padding: 0 1rem;
}
.forms-container .forms-footer div button {
    font-size: 2rem;
    padding: 0 2rem;
}
.forms-container .accordion .accordion-item {
    border: 0;
}
.forms-container .accordion .accordion-item .accordion-header .forms-header {
    width: 100%;
}
.forms-container .accordion .accordion-item .accordion-header .accordion-button{
    background-color: #e2e8e7;
}
.forms-container .accordion .accordion-item .accordion-body {
    font-size: 2rem;
    padding: 0;
    padding-bottom: 2rem;
}
.forms-container .accordion .accordion-item .accordion-body .forms-footer button {
    font-size: 2rem;
}
.forms-container .accordion .accordion-item .accordion-body .modal {
    font-size: 2rem;
}
.forms-container .accordion .accordion-item .accordion-body .modal .modal-content .modal-header .modal-title {
    font-size: 3rem !important;
}
.forms-container .accordion .accordion-item .accordion-body .modal .modal-content .modal-footer button {
    font-size: 2rem;
}
.forms-container .form-paymentChecklist .form-name {
    margin-bottom: 2rem;
    background-color: #f7f7f7;
}
.forms-container .form-paymentChecklist .form-name .name {
    padding: 2rem 2rem;
    font-size: 3.1rem;
    font-weight: bold;
}
.forms-container .accordion .accordion-item .accordion-body .form-paymentChecklist .payment-form {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.forms-container .accordion .accordion-item .accordion-body .form-paymentChecklist .info {
    margin: 0 auto;
    padding-top: 5rem;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}