* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.heading {
    background-color: #b8c6c2;
    text-align: center;
    font-weight: bold;
    font-size: 6rem;
    color: #617a55;
    padding-bottom: 3rem;
    padding-top: 5rem;
}
.section-body .title{
    height: 8rem;
    background-color: #E2E8E7;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5rem;
}
.section-body .title p{
    font-size: 4rem;
    align-self: center;
    color: #617a55;
    font-weight: bolder;
}
.section-body .section-body-content{
    background-color: white;
    display: flex;
    flex-direction: row;
}
.section-body .section-body-content .col-lg-7{
    display: flex;
    flex-direction: row;
    border-right: solid black 2px;
}
.section-body .section-body-content .col-lg-7 img{
    margin: 5rem;
    width: 50%
}
.section-body .section-body-content .col-lg-7 .left-content{
    display: flex;
    flex-direction: column;
    width: 50%
}
.section-body .section-body-content .col-lg-7 .left-content p:nth-child(1){
    text-align: center;
    font-size: 2rem;
    padding-bottom: 3rem;
    padding-top: 8rem;
}
.section-body .section-body-content .col-lg-7 .left-content p:nth-child(2){
    text-align: center;
    font-size: 4rem;
}
.section-body .section-body-content .col-lg-5{
    display: flex;
    flex-direction: column;
}
.section-body .section-body-content .col-lg-5 .text p:nth-child(1){
    text-align: center;
    font-size: 2rem;
    padding-bottom: 3rem;
    padding-top: 8rem;
}
.section-body .section-body-content .col-lg-5 .text p:nth-child(2){
    text-align: center;
    font-size: 4rem;
}
/*.section-body .section-body-content .col-lg-5 .button1{
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 6rem;
    width: 40rem;
    align-self: center;
    background-color: #617a55;
}
.section-body .section-body-content .col-lg-5 .button1 a{
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    text-decoration: none;
    
}*/
.section-body .section-body-content .col-lg-5 .button2 {
    height: 5.8rem;
    width: 40rem;
    align-self: center;
    margin-top: 9rem;
    border: 5px solid #617A55;
    border-radius: 10px;
    font-weight: bolder;
    background-color: #617A55;
    color: white;
}
.section-body .section-body-content .col-lg-5 .button2 .text p{
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
}
.section-body .section-body-content .col-lg-5 .modal .modal-header .modaltitle{
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    color: #617A55
}
.section-body .section-body-content .col-lg-5 .modal .modalbody{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.section-body .section-body-content .col-lg-5 .modal .modalbody input{
    margin-left: 2rem;
    transform: scale(2); 
}
.section-body .section-body-content .col-lg-5 .modal .modalbody label{
    font-size: 2rem;
    padding: 2rem;
}
.section-body .section-body-content .col-lg-5 .modal .modalfooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.section-body .section-body-content .col-lg-5 .modal .modalfooter button{
    height: 4rem;
    font-size: 2rem;
    margin-right: 2rem;
    background-color: #617A55;
    border-radius: 10px;
    padding-right: 3rem;
    padding-left: 3rem;
}