html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #DDE6F1;

}
.body-service .booked-service{
    padding: 1.6rem 0;
    width: 100%;
    background-color: #627b564d;
}
.booked-service p{
    font-size: 6rem;
    font-weight: 700;
    color:#617A55;
    text-align: center;
}
.body-navigation{
    background-color:  rgba(183, 198, 194, 0.4);
}
.body-navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 47rem;
}
.body-navigation ul li{
    font-size: 2.5rem;
    font-weight: 600;
    padding: 3rem 0 ;
}
.body-navigation ul li:not(:nth-child(1)){
    margin-left: 5rem
}
.body-navigation ul li a{
    padding-bottom: 0.5rem;
    text-decoration: none;
    color:black
}
.body-navigation ul li:nth-child(2) a{
    border-bottom: 5px solid #617A55;
}
.body-search{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-search p{
    font-size: 2.5rem;
    font-weight: 600;
    margin-right: 1rem;
}
.body-search .search-bar input{
    background: #FFFFFF;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    border-color: transparent;
    padding: 1.7rem 2rem;
    padding-right: 6rem;
    width: 110rem;
    outline: none;
    font-size: 2rem;
}
.body-search .search-bar input::placeholder{
    font-size: 2rem;
}
.search-bar a{
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);

}
.body-search-result-counter {
    width: 100%;
    margin: 3rem 0;
}
.body-search-result-counter p{
    font-size: 2.5rem;
    font-weight: 300;
    margin-left: 55rem;
}
.body-search-result{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body-search-result .result-content{
    background-color: white;
    padding: 2.1rem 2rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result-content .result-info{
    margin: 0 4rem

}
.result-info p:nth-child(1){
    font-size: 3rem;
    font-weight: 700;
}
.result-info p:nth-child(2){
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
}
.result-info p:nth-child(3), .result-info p:nth-child(4){
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
}
.result-content:nth-child(2){
    margin-top: 4rem;
}
.result-content button{
    background-color: #F69C14;
    outline: none;
    border-color: transparent;
    padding: 2rem 2.1rem;
    border-radius: 1rem;
}
.result-content button a{
    font-size: 2.5rem;
    font-weight: 700;
    color:white;
    text-decoration: none;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b8c6c2;
    margin-top: 5%;
    height: fit-content;
    padding: 3%;
}
footer .logo-column {
    flex-basis: 50%;
    display: flex;
    justify-content: left;
    font-size: 1.5rem;
    font-weight: bolder;
}
footer .logo-column .logo-container {
    display: flex;
    width: fit-content;
    justify-content: center;
}
footer .logo-column .logo-container .logo-text {
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 3rem;
}
footer .logo-column .logo-container .logo-image {
    /* flex: 0 0 100%; */
}
footer .logo-column .logo-container .logo-image img {
    max-width: 13rem;
    object-fit: contain;
    object-position: center;
}
footer .column {
    flex-basis: 16.6666666667%;
    line-height: 200%;
    font-size: 1.5rem;
}
footer .column .contact-info-footer p {
    line-height: 205%;
}